*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.clearfix::after{
 content: "";
 display: block;
 clear: both;
}

main{
 margin: 50px auto;
 width: 960px;
}

.box{
 width: 300px;
 margin-right: 30px;
 padding: 10px;
 border: 1px solid #f5f5f5;
 float: left;
 position: relative;
}

.box:last-child{
 margin-right: 0;
}

.image{
 height: 150px;
 background-size: cover;
 background-position: bottom;
}

.box-step{
 position: absolute;
 top: 0;
 left: 0;
 background-color: #FF9A4B;
 color: #fff;
 padding: 3px;
}

@media screen and (max-width:768px){
 main{
  width: 100%;
 }

 .box{
  float: none;
  width: 90%;
  margin: 0 20px 20px 20px;
 }

 .box:last-child{
  margin-bottom: 0;
 }

 .image{
  width: 100%;
 }

 .box-text{
  width: 100%;
  
 }
}